@import "./function.scss";
.image-border {
  background: url("../src/assets/images/border.png") no-repeat center;
  background-size: 100% 100%;
  margin: 0 20px 20px 20px;
}
.graph-title {
  color: #28aec3;
  font-size: pxToVh(18);
  width: 144px;
}
.header-container {
  height: pxToVh(80);
  box-shadow: 0 -7px 30px -8px rgba(40, 174, 195, 0.64) inset;
  margin-bottom: 20px;
}
.header-text {
  font-size: pxToVh(36);
  color: #28aec3;
  width: 360px;
}
